* {
    margin: 0px;
}

#body {
    position: relative;
    width:100%;
    height: 500px;
    border: 1px solid black;
}

#body div {
    width:30px;
    height: 30px;
    background-color: royalblue;
    position: absolute;
    top: 100px;
    left: 100px;
}